.header{
    
    max-width: 1200px;
}
.navbar{
display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    max-width: 1200px;
padding:  30px;
    color: white;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
}
h2{
    color: white;
    font-size: bolder;
    cursor: pointer;
}
h2:hover{
    color: rgba(255, 255,255,0.8);
}
.home__a:hover{
    color: rgba(255, 255,255,0.8);
}
.navbar__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
    font-weight: bolder;
}
.nav_butn{
    display: none;
}
@media only screen and (max-width: 1200px){
    .navbar{
        display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 970px;
        padding:  30px;
            margin: auto;
        }
}
@media only screen and (max-width: 991px){
    .nav_butn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px ;
        border:  1px solid rgba(51, 50, 50, 0.5);
        color: rgba(0,0,0,0.5);
        font-weight: bolder;
        gap: 3px;
        width: 600;
        
    }
    .navbar__list{
        display: none;
    }
    .start__text{
        color:black;
    }
    .navbar{
        padding: 12px  ;
        display: flex;
        align-items: center;
       justify-content: space-between;
        // max-width: 600px;
        max-width: 100% ;
        background-color: white;
    
    }
}
@media only screen and (max-width: 767px){
    .navbar{
        padding: 12px;
        display: flex;
        align-items: center;
        max-width: 100%;
        // max-width: 500px;
        background-color: white;
    } 
}
@media only screen and (max-width: 652px){
    .navbar{
        padding: 12px;
        display: flex;
        align-items: center;
        max-width: 100%;
        background-color: white;
    } 
}